{% extends "base.html" %}
{% block content %}
<a id="backlink" href="javascript:window.history.back()"><i class="fa fa-arrow-circle-o-left fa-3x"></i></a>
<div id="content">
    <h1>{{title}}</h1>

    <img src="/images/{{imgfile}}" />
    

    <ul>
        <li>Erscheinungsdatum: {{created}} </li>
{% if category == "book" %}
        <li>Author: {{author}} </li>
{% elif category == "movie" %}
        <li>Dauer: {{duration}} min</li>
        <li>Studio: {{studio}}</li>
        <li>Genre: {{genre}}</li>
        <li>Veröffentlicht: {{firstrelease}}</li>
{% else %}
        <li>Author: {{author}}</li>
        <li>Dauer: {{duration}} min</li>
{% endif %}
        <li>EAN/ISBN: {{ean}}</li>
    </ul>

    <h2>Beschreibung</h2>
    {{description}}
    
    <div>
        <br>
        <a style="margin-right: 10px" href="http://www.wikipedia.de/go?l=de&q={{title}}"><i class="fa fa-2x fa-wikipedia-w"></i></a>
        <a style="margin-right: 10px" href="http://www.youtube.com/results?search_query={{title}}"><i class="fa fa-2x fa-youtube"></i></a>
        <a style="margin-right: 10px" href="http://www.imdb.com/find?q={{title}}"><i class="fa fa-2x fa-film"></i></a>
    </div>
</div>
{% endblock %}
