{% import "widgets.html" as widget %}
{% extends "base.html" %}
{% block content %}
<div id="content" style="margin-top: 20px">
    <div style="color: black; margin-right: 50px; margin-bottom: 15px">
        <a href="/add" >
        <i style="vertical-align: middle" class="fa fa-plus-circle fa-2x"></i>
        <span style="vertical-align: middle">Eintrag hinzufügen</span>
        </a>
        <span style="margin-left: 50px">
        <form id="viewcontroller" style="display: inline">
            Sortierung:
            {{widget.select("order", [("name","Name"), ("ean", "EAN"), ("duration", "Dauer"), ("firstrelease", "Erschienen"), ("genre", "Genre") ], request.args["order"])}}
            Ansicht:
            {{widget.select("view", [("images", "Bilder"), ("table", "Tabelle") ], request.args["view"])}}
        </form>
        </span>
            {% if filters %}
                <span class="filters">
                Filter:           
                {% for f in filters %}
                    <a href="{{request.path}}?filter={{f.genre}}">{{f.genre}}</a>
                {% endfor %}
                </span>
            {% endif %}
    </div>
{% if request.args["view"] == "table" %}
{{ widget.itemtable(items) }}
{% else %}
{{ widget.itemimages(items) }}
{% endif %}
</div>
<script>
$("#viewcontroller").change( function() {
        $( this ).submit();
        });
</script>
{% endblock %}
