{% macro itemimages(items) %}
<div class="itemcontainer">
{% for item in items %}
    <a href="/product/{{item.ean}}">
        <div class="item">
            <div style="position: relative">
            <img width="150" src="/images/{{item.imgfile}}" alt="{{item.title}}"/>
            {% if item.owner != None %}
            <span style="position: absolute; right: 0px; bottom: 0px; background-color: #444; color: white; z-index: 1; padding: 8px; border-radius: 10px; opacitiy: 0.5">{{item.owner}}</span>
            {% endif %}
            </div>
            {{item.title}}

            <br>
            {% if item.category == "movie" %}
                <span class="item-ean">{{item.duration}} min</span><br>
                <span class="item-ean">{{item.genre}}</span>
            {% else %}
                <span class="item-ean">{{item.author}}</span>
            {% endif %}
        </div>
    </a>
{% endfor %}
</div>
{% endmacro %}

{% macro itemtable(items) %}
{% for item in items %}
    <a href="/product/{{item.ean}}">
    <div style="overflow: auto; margin-bottom: 20px">
    <img width="100" src="/images/{{item.imgfile}}" alt="{{item.title}}" style="float: left"/>
    <div style="margin-left: 120px">
    <b>{{item.title}}</b> <br>
    {% if item.category == "movie" %}
    <b>Dauer:</b> {{item.duration}} min<br>
    <b>Studio:</b> {{item.studio}}<br>
    {% elif item.category == "audiobook" %}
    <b>Author:</b> {{item.author}}<br>
    <b>Dauer:</b> {{item.duration}} min<br>
    {% else %}
    <b>Author:</b> {{item.author}}<br>
    {% endif %}
    <b>Erscheinungsdatum:</b> {{item.created}}<br>
    <b>Beschreibung:</b> {{item.description}}<br>
    </div>
    </div>
    </a>
{% endfor %}
{% endmacro %}

{% macro select(name, choices, default) %}
<select name="{{name}}">
{% for elm in choices %}
{% if elm[0] == default %}
<option value="{{elm[0]}}" selected="selected">{{elm[1]}}</option>
{% else %}
<option value="{{elm[0]}}">{{elm[1]}}</option>
{% endif %}
{% endfor %}
</select>
{% endmacro %}
